@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
:root {
    --primaryColor: #FCFCFC;
    --mainWhite: #fff;
    --mainColor: #373737,;
    --mainSpace: 0.07rem;
    --mainTransation: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainColor);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

/* ----NavBar ----*/
.navBar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #111;
    z-index: 3;
}
 
.navBar-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.07rem;
    list-style-type: none;
    background-color: #373737;
    letter-spacing: var(--mainSpace);
    list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4CAF50;
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

/* ----- card-content ----- */

.jack-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  padding: 0 50px 15px 50px;
  
}

.card-l {
  display: flex;
  border: none;
  margin: 16px 0 16px 10px;
  width: 17rem;
  height: 10rem;
}

/* ----- footer ----- */

.footer-l {
    width: 100%;
    background-color:#373737;
    color: #fff;
    text-align: center;
    height: 100px;
  }
  
  p {
    padding: 30px;
  }