@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
:root {
    --primaryColor: #FCFCFC;
    --mainWhite: #fff;
    --mainColor: #373737,;
    --mainSpace: 0.07rem;
    --mainTransation: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

/* ----NavBar ----*/
.navBar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #373737;
    z-index: 3;
}
 
.navBar-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.07rem;
    list-style-type: none;
    background-color: rgb(80, 76, 76);
    letter-spacing: var(--mainSpace);
    list-style-type: none;
}


li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4CAF50;
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

/* ----- card-content ----- */

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  padding: 0 50px 15px 50px;
  
}

.button {
  position: absolute;
    width: 70px;
    left: 0;
    top: 40px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
  width: 100px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    border: solid 1px #fff;
    z-index: 1
}

.card-l:hover .button {
  opacity: 1;
}

.card-img {
  border-radius: 20px;
  object-fit: cover;
  width: 14rem;
  height: 10rem;
}
.cat {
  display: flex;
  justify-content: space-around;
  font-size: 0.01px;
}
.card-l {
  position: relative;
  border: none;
  margin: 16px 0 16px 10px;
  width: 14rem;
  height: 10rem;
}

/* ---- Corner ribbon ---*/
.box {
  width:14rem;
  height:10rem;
  position:relative;
}
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px; 
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  color: #fff; 
  text-transform: uppercase; 
  text-align: center;
  font-weight: bold; 
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); 
  width: 100px; 
  display: block;
  background: #4CAF50;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px #373737;
  position: absolute;
  top: 19px;
  right: -21px;
}

.jack {
  display: flex;
  width: 18rem;
  margin: 80px auto  50px auto;
}
/* ----Footer ----*/

.footer-l {
  bottom: 0;
  width: 100%;
  background-color:#373737;
  color: #fff;
  text-align: center;
  height: 100px;
}

.footer-j {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#373737;
  color: #fff;
  text-align: center;
  height: 100px;
}

p {
  padding: 30px;
}


















/*----- end of Header -----*/